In [2]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("/content/movie recommendations dataset.csv")

In [3]:
# Look at the first few rows
print("Preview of data:")
print(df.head())

# Check general info
print("\nData Info:")
print(df.info())

Preview of data:
       id    imdb_id  popularity     budget     revenue  \
0  135397  tt0369610   32.985763  150000000  1513528810
1   76341  tt1392190   28.419936  150000000   378436354
2  262500  tt2908446   13.112507  110000000   295238201
3  140607  tt2488496   11.173104  200000000  2068178225
4  168259  tt2820852    9.335014  190000000  1506249360

                 original_title  \
0                Jurassic World
1            Mad Max: Fury Road
2                     Insurgent
3  Star Wars: The Force Awakens
4                     Furious 7

                                                cast  \
0  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1  Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2  Shailene Woodley|Theo James|Kate Winslet|Ansel...
3  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4  Vin Diesel|Paul Walker|Jason Statham|Michelle ...

                                            homepage          director  \
0                      http://www.jurassicworld.com/   Colin Trevorrow
1                        http://www.madmaxmovie.com/     George Miller
2     http://www.thedivergentseries.movie/#insurgent  Robert Schwentke
3  http://www.starwars.com/films/star-wars-episod...       J.J. Abrams
4                           http://www.furious7.com/         James Wan

                         tagline  ...  \
0              The park is open.  ...
1             What a Lovely Day.  ...
2     One Choice Can Destroy You  ...
3  Every generation has a story.  ...
4            Vengeance Hits Home  ...

                                            overview runtime  \
0  Twenty-two years after the events of Jurassic ...     124
1  An apocalyptic story set in the furthest reach...     120
2  Beatrice Prior must confront her inner demons ...     119
3  Thirty years after defeating the Galactic Empi...     136
4  Deckard Shaw seeks revenge against Dominic Tor...     137

                                      genres  \
0  Action|Adventure|Science Fiction|Thriller
1  Action|Adventure|Science Fiction|Thriller
2         Adventure|Science Fiction|Thriller
3   Action|Adventure|Science Fiction|Fantasy
4                      Action|Crime|Thriller

                                production_companies release_date vote_count  \
0  Universal Studios|Amblin Entertainment|Legenda...     6/9/2015       5562
1  Village Roadshow Pictures|Kennedy Miller Produ...    5/13/2015       6185
2  Summit Entertainment|Mandeville Films|Red Wago...    3/18/2015       2480
3          Lucasfilm|Truenorth Productions|Bad Robot   12/15/2015       5292
4  Universal Pictures|Original Film|Media Rights ...     4/1/2015       2947

   vote_average  release_year   budget_adj   revenue_adj
0           6.5          2015  137999939.3  1.392446e+09
1           7.1          2015  137999939.3  3.481613e+08
2           6.3          2015  101199955.5  2.716190e+08
3           7.5          2015  183999919.0  1.902723e+09
4           7.3          2015  174799923.1  1.385749e+09

[5 rows x 21 columns]

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB
None

In [4]:
# Check missing values
print("\nMissing values per column:")
print(df.isnull().sum())

# Remove exact duplicate rows
df = df.drop_duplicates()
print("\nAfter removing duplicates:", df.shape)

Missing values per column:
id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

After removing duplicates: (10865, 21)

In [5]:
# Clean whitespace in object columns
for col in df.select_dtypes(include="object"):
    df[col] = df[col].astype(str).str.strip().replace({"": np.nan})

print("\nCleaned text columns.")

Cleaned text columns.

In [11]:
# Example using NumPy for learners
arr = np.array([3.5, np.nan, 4.8, -1, 5.2])

# Replace negative or nan with median
valid = arr[arr >= 0]
median_val = np.median(valid)

arr_fixed = np.where(arr < 0, median_val, arr)
arr_fixed = np.where(np.isnan(arr_fixed), median_val, arr_fixed)

print("\nOriginal array:", arr)
print("Fixed array:", arr_fixed)

Original array: [ 3.5  nan  4.8 -1.   5.2]
Fixed array: [3.5 4.8 4.8 4.8 5.2]

Let's look at the descriptive statistics for 'vote_average' before and after cleaning to get more precise numerical information.